/** GENERAL **/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.container {
  width: 75%;
  margin: 0 auto;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: black;
}
.text-center {
  text-align: center;
}
.white {
  color: white;
}
/** END GENERAL **/

/*** HEADER ***/
/* NAVBAR */
nav {
  background-color: #fff;
  line-height: 60px;
}
nav ul li{
  font-size: 0.8em;
  display: inline-block;
  padding-right: 5px;
}
nav ul li a:hover {
  font-size: 1.2em;
  transition: 0.3s;
}
.container .logo img{
  width: 15%;
}
.container .menu>.menu-items{
  float: left;
  width: 80%;
}
.container .menu>.lang{
  float: right;
}
.container .menu>.menu-items li{
  padding-left: 20px;
}
/* END NAVBAR */

/* HERO */
.hero>.container{
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
}
.hero .container .text{
  margin: 250px auto 10px auto;
  color: white;
}
.hero .container .text h1{
  font-size: 3em;
  font-weight: 800;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}
.hero .container .appstore {
  text-align: right;
  padding-right: 10px;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5)
}
.hero .container .playstore {
  text-align: left;
  padding-left: 10px;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5)
}
.hero .container .appstore:hover {
  padding-right: 5px;
  transition: 0.2s;
}
.hero .container .playstore:hover{
  padding-left: 5px;
  transition: 0.2s;
}
/* END HERO */
/*** END HEADER ***/

/*** MAIN ***/
/* PRODUCT SECTION */
#product .container {
  width: 95%;
  margin: 0 auto;
}
#product .container .logo {
  height: 20px;
}
#product .container .h-go,
#product .container .h-bike {
  width: 48%;
  margin: 5% 1%;
  background: #fafafa;
  height: 700px;
}
#product .container .h-go>a,
#product .container .h-bike>a {
  display: block;
  text-decoration: underline;
  color: #0070c8;
  margin-top:20px;
}
#product .container .logo {
  margin: 30px auto;
}
#product .container .prod-pic {
  max-height: 400px;
  margin-top: 50px;
}
#product .container p {
  font-size: 1.5em;
}
#product a:hover, i:hover {
  padding-left: 10px;
  transition: 0.3s;
}
/* END PRODUCT SECTION */

/* STEPS SECTION */
#steps .container {
  width: 100%;
  margin: 0 auto;
}
#steps .container .top-img{
  width: 100%;
  background: url('https://www.helbiz.com/asset/pages/newhome/images/HelbizBanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -100px;
  height: 500px;
}
#steps .container .text-left,
#steps .container .text-right {
  padding-top: 50px;
  font-size: 2em;
  line-height: 50px;
}
#steps .container .text-left {
  text-align: right;
}
#steps .container .bottom .img img{
  width: 75%;
  margin: -300px 75px 0 75px;
}
/* END STEPS SECTION */

/* USPS SECTION */
#usps h2 {
  color: white;
  font-size: 3em;
  margin: 100px auto 30px auto;
}
#usps p{
  color: white;
  font-size: 2em;
  font-weight: 300;
  margin: 50px auto;
}
#usps a{
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  padding: 20px;
}
#usps a:hover {
  padding-left: 10px;
  transition: 0.3s;
  text-decoration: underline;
}
#usps .container {
  width: 98%;
  margin: 0 auto;
}
#usps .container .top-row {
  height: 500px;
  background: url("https://www.helbiz.com/asset/pages/newhome/images/ScooterHelbiz-2400.jpg");
  background-size: cover;
}
#usps .container .bottom-row {
  margin-left: 1%;
  margin-top: 2%;
}
#usps .container .bottom-row .left{
  width: 48%;
  background: linear-gradient(#41566a,#252f38) 50% no-repeat;
  height: 1000px;
}
#usps .container .bottom-row .right{
  width: 48%;
  float: right;
  background: url("https://www.helbiz.com/asset/pages/newhome/images/Cities-1500.jpg");
  background-size: cover;
  height: 1000px;
}
#usps .container .bottom-row .text-center img{
  display: block;
  height: 500px;
  margin: 190px auto 0 auto;
}
#usps .container .bottom-row .text-center .links{
  margin-top: 80px;
}
/* END USPS SECTION */

/* FAMILY SECTION */
#family {
  width: 100%;
  background: url('https://www.helbiz.com/asset/pages/newhome/images/Social-Banner.jpg') 50% no-repeat;
  background-size: cover;
  height: 480px;
  margin: 45px auto;
}
#family .container {
  height: 480px;
  position: relative;
}
#family .container .content {
  width: 480px;
  height: 200px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 0;
}
#family .container .content .text h2{
  font-size: 2em;
}
#family .container .content .social{
  width: 25%;
  margin: 0 auto;
  line-height: 40px;
  margin-top: 20px;
}
#family .container .content .social img{
  height: 25px;
}
/* END FAMILY SECTION*/
/*** END MAIN ***/

/*** FOOTER ***/
/* Genreal Footer Rules*/
footer {
  height: 700px;
  background-color: black;
}
footer ul {
  display: inline-block;
}
footer .wrap {
  width: 95%;
  margin: 0 auto;
}
footer .wrap>.container {
  margin: 50px auto;
}
/* Genreal Footer Rules*/

/* SITEMAP SECTION */
footer .sitemap {
  padding-top: 70px;
}
footer .sitemap .logo img{
  width: 30%;
}
footer .sitemap .container ul li {
  padding: 10px 0;
}
footer .sitemap .container h2{
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 20px;
}
footer .sitemap .container ul li a{
  color: rgba(255,255,255,0.5);
}
/* END SITEMAP SECTION */
/* LEGAL SECTION */
footer .legal {
  padding: 50px 0;
  line-height: 25px;
  vertical-align: middle;
  border-top: 1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
footer .legal a{
  text-decoration: none;
  color: white;
}
footer .legal .social {
  width: 25%;
  margin: 0 auto;
}
footer .legal .social li{
  display: inline-block;
}
footer .legal .social img{
  max-width: 24px;
  height: auto;
  padding-right: 0.6em
}
footer .legal .container h2{
  font-size: 1em;
  font-weight: 300;
}
/* END LEGAL SECTION */
/* STORE SECTION */
footer .container .appstore {
  text-align: right;
  padding-right: 10px;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5)
}
footer .container .playstore {
  text-align: left;
  padding-left: 10px;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5)
}
footer .container .appstore:hover {
  padding-right: 5px;
  transition: 0.2s;
}
footer .container .playstore:hover{
  padding-left: 5px;
  transition: 0.2s;
}
/* END STORE SECTION */
/*** END FOOTER ***/
