/** GENERAL **/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.container {
  width: 75%;
  margin: 0 auto;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: black;
}
.text-center {
  text-align: center;
}
/** END GENERAL **/

/*** HEADER ***/
/* NAVBAR */
nav {
  background-color: #fff;
  line-height: 60px;
}
ul li{
  font-size: 0.8em;
  display: inline-block;
  padding-right: 5px;
}
ul li a:hover {
  font-size: 1.2em;
  transition: 0.3s;
}
.container .logo img{
  width: 15%;
}
.container .menu>.menu-items{
  float: left;
  width: 80%;
}
.container .menu>.lang{
  float: right;
}
.container .menu>.menu-items li{
  padding-left: 20px;
}
/* END NAVBAR */

/* HERO */
.hero>.container{
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
}
.hero .container .text{
  margin: 250px auto 10px auto;
  color: white;
}
.hero .container .text h1{
  font-size: 3em;
  font-weight: 800;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}
.hero .container .appstore {
  text-align: right;
  padding-right: 10px;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5)
}
.hero .container .playstore {
  text-align: left;
  padding-left: 10px;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5)
}
.hero .container .appstore:hover {
  padding-right: 5px;
  transition: 0.2s;
}
.hero .container .playstore:hover{
  padding-left: 5px;
  transition: 0.2s;
}
/* END HERO */
/*** END HEADER ***/

/*** MAIN ***/
/* PRODUCT SECTION */
#product .container {
  width: 95%;
  margin: 0 auto;
}
#product .container .logo {
  height: 20px;
}
#product .container .h-go,
#product .container .h-bike {
  width: 48%;
  margin: 5% 1%;
  background: #fafafa;
  height: 700px;
}
#product .container .h-go>a,
#product .container .h-bike>a {
  display: block;
  text-decoration: underline;
  color: #0070c8;
  margin-top:20px;
}
#product .container .logo {
  margin: 30px auto;
}
#product .container .prod-pic {
  max-height: 400px;
  margin-top: 50px;
}
#product .container p {
  font-size: 1.5em;
}
#product a:hover, i:hover {
  padding-left: 10px;
  transition: 0.3s;
}
/* END PRODUCT SECTION */

/* STEPS SECTION */
#steps .container {
  width: 100%;
  margin: 0 auto;
}
#steps .container .top-img{
  width: 100%;
  background: url('https://www.helbiz.com/asset/pages/newhome/images/HelbizBanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -100px;
  height: 500px;
}
#steps .container .text-left,
#steps .container .text-right {
  padding-top: 50px;
  font-size: 2em;
  line-height: 50px;
}
#steps .container .text-left {
  text-align: right;
}
#steps .container .bottom .img img{
  width: 75%;
  margin: -300px 75px 0 75px;
}
/* END STEPS SECTION */

/* USPS SECTION */
/* Text Style */
#usps h2 {
  color: white;
  font-size: 3em;
  margin: 100px auto 30px auto;
}
#usps p{
  color: white;
  font-size: 2em;
  font-weight: 300;
  margin: 50px auto;
}
#usps a{
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  padding: 20px;
}
#usps a:hover {
  padding-left: 10px;
  transition: 0.3s;
  text-decoration: underline;
}
/* End Text Style */
#usps .container {
  width: 98%;
  margin: 0 auto;
}
#usps .container .top-row {
  height: 500px;
  background: url("https://www.helbiz.com/asset/pages/newhome/images/ScooterHelbiz-2400.jpg");
  background-size: cover;
}
#usps .container .bottom-row {
  margin-left: 1%;
  margin-top: 2%;
}
#usps .container .bottom-row .left{
  width: 48%;
  background: linear-gradient(#41566a,#252f38) 50% no-repeat;
  height: 1000px;
}
#usps .container .bottom-row .right{
  width: 48%;
  float: right;
  background: url("https://www.helbiz.com/asset/pages/newhome/images/Cities-1500.jpg");
  background-size: cover;
  height: 1000px;
}
#usps .container .bottom-row .text-center img{
  display: block;
  height: 500px;
  margin: 190px auto 0 auto;
}
#usps .container .bottom-row .text-center .links{
  margin-top: 80px;
}
/* END USPS SECTION */

/* FAMILY SECTION */
#family .container {
  width: 100%;
  background: url('https://www.helbiz.com/asset/pages/newhome/images/Social-Banner.jpg') 50% no-repeat;
  background-size: cover;
  height: 480px;
  margin: 45px auto;
}
#family .container
/* END FAMILY SECTION*/

/*** END MAIN ***/
